* {
    box-sizing: border-box;

}

#header {
    display: flex;
    justify-content: center;
}

#game-space {
    display: flex;
    justify-content: space-evenly;
}

#player-side, #score, #computer-side {
    display: flex;
    flex-direction: column;
}